body {
  background: linear-gradient(to right, #91e6ed, #dbeaff);
  text-align: center;
  font-family: sans-serif;
  padding: 3rem;
}

h1 {
  font-size: 2.4rem;
}
p {
  font-size: 1.4rem;
}

.bold {
  font-weight: bold;
}
a {
  color: rgb(66, 97, 255);
}

img {
  width: 20rem;
}